{{#if (eq blog.type "Movie")}}
  <p>
    <a href="{{blog.link}}">
      <div class="row">
        <div class="col-sm-6">
          <img src= "{{blog.image}}">
        </div>
        <div class="col-sm-6">
          {{blog.title}} <br>
          by:  {{blog.author}}
          <br>
          <br>
          {{blog.description}}
        </div>
      </div>
    </a>
    {{update-admin blog=blog update="update"}}
    <button {{action 'delete' blog}}>Delete</button>
  </p>
{{/if}}
