{{#if updateBlogForm}}
  <h4>Update {{blog.title}} written by: {{blog.author}}</h4>
  <div>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        {{input value=title id = "title" placeholder=blog.title}}
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id = "author" placeholder=blog.author}}
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        {{input value=description id = "description" placeholder=blog.description}}
      </div>
      <div class="form-group">
        <label for="image">Image</label>
        {{input value=image id = "image" placeholder=blog.image}}
      </div>
      <div class="form-group">
        <label for="link">Blog Link</label>
        {{input value=link id = "link" placeholder=blog.link}}
      </div>
      <div class="form-group">
        <label for="type">Blog Type</label>
        {{input value=type id = "type" placeholder=blog.type}}
      </div>
      <button {{action 'update' blog}}>save</button>
    </form>
  </div>
{{else}}
  <button {{action 'updateBlogForm'}}>Update</button>
{{/if}}
